<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <payment>
            <payapi_checkoutpayment_secure_form_post>
                <active>1</active>
                <title>PayApi Online Secure Payment</title>
                <model>Payapi\CheckoutPayment\Model\SecureFormPost</model>
                <order_status>pending</order_status>              
                <payapi_api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />     
                <payapi_public_id />     
            </payapi_checkoutpayment_secure_form_post>
        </payment>
    </default>
</config>